<% content_for :head do%>

  <%= stylesheet_link_tag "no_bg", media: "all", "data-turbolinks-track" => "reload" %>

  <style>

    body {
      background-color: transparent;
    }

  </style>

  <title>Eintrag von <%= @article.name %> - Vollbild - Kondolenzbuch Pascal</title>
<% end %>>

<%= render partial: "partials/article_navbar" %>

<div class="content">
  <%= render partial: "partials/book_text" %>
</div>
