<% content_for :head do%>
  <style>

    body {
      background-color: transparent;
    }

  </style>
<% end %>>

<%= render partial: "partials/article_navbar" %>

<div class="content">
  <%= render partial: "partials/book_text" %>
</div>
