<% content_for :head do%>
  <style>

    body {
      background-image: none;
      background-position: center;
      background-size: cover;
    }

    .content {
      padding: 10px;
    }

  </style>

  <title>Eintrag von <%= @article.name %> - Vollbild - Kondolenzbuch Pascal</title>
<% end %>

<div class="content">
  <%= render partial: "partials/book_text" %>
</div>
