<% content_for :head do%>
  <style>

    body {
      background-color: transparent;
    }

  </style>

  <title>Eintrag von <%= @article.name %> - Vollbild - Kondolenzbuch Pascal</title>
<% end %>

<div class="content">
  <%= render partial: "partials/book_text" %>
</div>
