<% content_for :head do%>
    <style>

        body {
            background-image: url(<%= asset_path 'background.jpg' %>);
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .book {
          position: relative;
        }

        .book_content {
          position: absolute;
          top: 7%;
          left: 10%;
          bottom: 4%;
          max-height: 100%;
          max-width: 70vw;
        }

        .scroll {
          overflow: scroll;
        }

        .vertical-center {
          margin: 0;
          position: absolute;
          top: 50%;
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
        }

        .book-image {
          max-width: 100%;
          display: block;
        }

        .book-wrapper {
          width: 80vw;
        }


    </style>

  <title>Eintrag von <%= @article.name %> - Kondolenzbuch Pascal</title>
<% end %>

<main>
  <div class="container book">
    <div class="row">
      <div class="col-12">
        <div class="book-wrapper">
          <%= image_tag('buch.png', :alt => 'Buch', :class => 'book-image') %>
          <span class="book_content scroll"><%= render partial: "partials/book_text" %></span>
        </div>
      </div>
    </div>
  </div>
</main>