<% content_for :head do%>
    <style>

        body {
            background-image: url(<%= asset_path 'background.jpg' %>);
            background-position: center;
            background-size: cover;
        }

        .book {
          position: relative;
        }

        .book_content {
          position: absolute;
          top: 4%;
          left: 10%;
          right: 11%;
          bottom: 3%;
        }

        .scroll {
          overflow: scroll;
        }

        .vertical-center {
          margin: 0;
          position: absolute;
          top: 50%;
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
        }

        .book-image {
          width: 1000px
        }


    </style>

  <title>Eintrag von <%= @article.name %> - Kondolenzbuch Pascal</title>
<% end %>

<main>
  <div class="container book text-center">
    <div class="book_spacer"></div>
    <%= image_tag('buch.png', :alt => 'Buch', :class => 'book-image') %>
    <div class="book_content scroll">
      <%= render partial: "partials/book_text" %>
    </div>
  </div>
</main>