<% content_for :head do %>
    <style>
        body {
            background-image: url(<%= asset_path 'background.jpg' %>);
            background-attachment: fixed;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;

            margin-bottom: 50px;
        }

        .content {
            background-color: rgba(255, 255, 255, 0.5);
        }

        .book-image {
            height: 80vh;
        }
    </style>

    <title>Kondolenzbuch Pascal</title>
<% end %>

<body>
    <main>
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <a class="navbar-brand text-body" href="/"><h1>In Pascals Gedenken</h1></a>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <p>
                        <% @first_article = Article.where('confirmed = ? AND published = ?', true, true).first %>
                        <%= link_to "Buch öffnen", @first_article.nil? ? articles_list_path : article_path(@first_article.id), class: "btn btn-info", role: "button" %>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <%= image_tag('book_closed.png', :alt => 'Buch', :class => 'book-image') %>
                </div>
            </div>
        </div>
    </main>
</body>
