<% content_for :head do %>
    <style>
        body {
            background-image: url(<%= asset_path 'filler_background.jpg' %>);
            background-attachment: fixed;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;

            margin-bottom: 50px;
        }

        .content {
            background-color: rgba(255, 255, 255, 0.5);
        }
    </style>
<% end %>

<body>
<% if request.query_parameters['mail_confirmed'] == 'true' %>
  <script> alert('Deine E-Mail Adresse wurde bestätigt\n\nWir überprüfen deinen Post nun und veröffentlichen ihn dann.\n\nVielen Dank, dass du dir die Zeit genommen hast!'); </script>
<% end %>

<% if request.query_parameters['unknown_token'] == 'true' %>
  <script> alert('Dieses Token ist ungültig!'); </script>
<% end %>

<% if request.query_parameters['please_confirm_email'] == 'true' %>
  <script> alert('Dein Post wurde gespeichert.\n\nBitte bestätige deine E-Mail Adresse, damit wir ihn veröffentlichen können.'); </script>
<% end %>

    <div class="container text-center">
        <div class="row">
            <div class="col">
                <a class="navbar-brand text-body" href="/"><h1>In Pascals Gedenken</h1></a>
            </div>
        </div>
    </div>
    <main>
        <div class="container content text-center">
            <div class="row">
                <div class="col">
                    <p>Diese Website ist dazu da, um Pascal in Ehren zu halten.</p>
                    <hr>
                    <p>
                        Hier entsteht ein Online-Kondolenzbuch, in welchem jeder gerne seine Abschiedsworte und Gedanken an Pascal niederschreiben kann.
                    </p>
                    <hr>
                    <p>
                        Außerdem besteht die Möglichkeit alle Erinnerungen an Pascal in Form von Dokumenten (vor allem Bildern) hochzuladen, um auch seine Familie an unseren schönen Erinnnerungen mit ihm teilhaben zu lassen.
                    </p>
                    <p>
                        <a href="http://upload.pascal-brand.de" class="btn btn-info" role="button">Dateien hochladen</a>
                    </p>
                </div>
            </div>
        </div>
    </main>

    <%= render partial: "partials/footer" %>

</body>
