<main>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1 class="center-align">In Pascals Gedenken</h1>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <p class="flow-text center-align">Diese Website ist dazu da um Pascal in Ehren zu halten.</p>
                <div class="divider"></div>
                <p class="flow-text center-align">
                    Hier entsteht ein Online Kondolenzbuch, in welchem jeder gerne seine Abschiedsworte und Gedanken an Pascal niederschreiben kann.
                </p>
                <div class="divider"></div>
                <p class="flow-text center-align">
                    Außerdem besteht die Möglichkeit alle Erinnerungen an Pascal in Form von Dokumenten (vor allem Bilder) hochzuladen, um auch seine Familie an unseren schönen Erinnnerungen mit ihn teilhaben zu lassen.
                    <div class="col s12 center-align">
                        <a href="http://upload.pascal-brand.de" class="btn btn-info" role="button">Dateien hochladen</a>
                    </div>
                </p>
            </div>
        </div>
    </div>
</main>

<%= render partial: "partials/footer" %>

