<footer class="footer bg-info fixed-bottom">
  <div class="container text-center text-white-50">
    <a href="mailto:christian.gutschaft@gutschaft.de" class="text-white-50">Fragen zur Website</a> | Island 2018
  </div>
</footer>