<footer class="page-footer grey darken-3">
  <div class="container">
    <div class="row">
      <div class="col s12 center-align">
        <a href="mailto:christian.gutschaft@gutschaft.de" class="white-text">Fragen zur Website</a>
        | Island 2018
      </div>
    </div>
  </div>
</footer>