<% content_for :head do %>
  <% javascript_include_tag Ckeditor.cdn_url %>
<% end %>


<h1>Neuen Eintrag erstellen</h1>
<p>Bitte gib unten im Eingabefeld deinen Text ein, den du im Buch veröffentlichen möchtest.</p>

<% javascript_include_tag Ckeditor.cdn_url %>

<%= render partial: "partials/footer" %>